.fader {
  position: relative;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  white-space: nowrap;
  padding-right: 20px;

  // Fading to white by default:
  &:after {
    display: inline-block;
    content: " ";
    width: 20%;
    position: absolute;
    z-index: $zFader;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to right, transparent, white);
  }

  &.to-black {
    &:after {
      background-image: linear-gradient(to right, transparent, black);
    }
  }

  &.make-shorter {
    // padding-right: 10%;

    &:after {
      width: 10%;
    }
  }

  &.make-longer {
    // padding-right: 30%;

    &:after {
      width: 30%;
    }
  }

  &.vertical-oversize {
    padding-top: 3px;
    padding-bottom: 3px;

    &:after {
      top: -3px;
      bottom: -3px;
    }
  }

  .over-fader {
    z-index: $zFaderOver;
  }
}
