.set-ratio {
  height: 0;
  position: relative;

  &.1x1 {
    padding-bottom: 100%;
  }

  .set-ratio-object {
    background-size: cover!important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
