<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1024,maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=edge,chrome=1">
    <meta name="keywords" content="{{meta_keywords}}" />
    <meta name="description" content="{{meta_description}}" />

    <!-- Stylesheets -->
    <link rel='stylesheet' href='/build/vendor.css' />
    <link rel='stylesheet' href='/build/app.css' />
    <link rel="shortcut icon" href="/build/favicon.ico">

    <!-- Stylesheets by vendors: -->
    <link rel="stylesheet" type="text/css" media="screen" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:100,300,300i,400,400i,500,500i,700&amp;subset=cyrillic">

    <!-- Front-App -->
    <script type="text/javascript" src="/build/common.js"></script>
    <script type="text/javascript" src="/build/vendor.js"></script>
    <script type="text/javascript" src="/build/app.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
