/* ==========================================================================
   General initial stylesheet
   ========================================================================== */

html {
  font-size: 14px;
}

body {
  padding: 0;
  margin: 0;
  background-color: $layoutBodyBackground;
}

.border-box, article, body, code, dd, div, dl, dt, fieldset, footer, form, header, html, input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=url], li, main, ol, p, pre, section, textarea, ul {
  box-sizing: border-box;
}

.gradiented {

  &.blue-to-violet {
    background: rgb(60,179,241);
    background: -moz-linear-gradient(left, rgba(60,179,241,1) 0%, rgba(142,124,247,1) 100%);
    background: -webkit-linear-gradient(left, rgba(60,179,241,1) 0%,rgba(142,124,247,1) 100%);
    background: linear-gradient(to right, rgba(60,179,241,1) 0%,rgba(142,124,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3cb3f1', endColorstr='#8e7cf7',GradientType=1 );
  }

  &.sky-to-subset {
    background: rgb(60,179,241);
    background: -moz-linear-gradient(left, rgba(60,179,241,1) 0%, rgba(198,79,224,1) 100%);
    background: -webkit-linear-gradient(left, rgba(60,179,241,1) 0%,rgba(198,79,224,1) 100%);
    background: linear-gradient(to right, rgba(60,179,241,1) 0%,rgba(198,79,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3cb3f1', endColorstr='#c64fe0',GradientType=1 );
  }
}
